<% users.map((user,index) => { %>

<tr>
  <td><%= index + 1 %></td>
  <td><%= user.username %></td>
  <td><%= user.fullname %></td>
  <td><%= user.email %></td>
  <td><%= user.role %></td>
  <td>
    <a href="/update-user?id=<%=user._id%>" class="btn border-shadow update">
      <span class="text-gradient">
        <i class="far fa-edit"></i> </span>
    </a>
    <a class="btn border-shadow delete" data-id=<%=user._id%>>
      <span class="text-gradient">
        <i class="far fa-trash-alt"></i> </span>
    </a>
  </td>
</tr>

<% })  %>